body {
  margin: 0 auto;
  font-weight: 300;
  background-color: rgba(240, 236, 236, 0.644);
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.root {
  margin: 0 auto;
}
